<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Botón de menú desplegable -->
      <app-menu-desplegable></app-menu-desplegable>
      <!-- Otros elementos de navegación -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <app-selector-nave></app-selector-nave>
          </li>
          <li class="nav-item">
            <app-stock></app-stock>
          </li>
          <li class="nav-item">
            <app-buscador></app-buscador>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  